@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
  color: #fff;
}


.data-save {
  position: absolute;
  transition: ease-in-out;
  background-color: black;
  color: white;
  top: 0;
  left: 50%;
}
.data-save-none {
  position: absolute;
  transition: 1s ease-in-out;
  background-color: black;
  color: white;
  top: -10%;
  left: 50%;
}